* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
  background-color: gold;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.hidden {
  display: none;
}
.Player-0 {
  display: grid;
  justify-items: center;
}

.Player-1 {
  display: grid;
  justify-items: center;
}

.current-score-box-1 {
  align-self: center;
  font-size: 30px;
}

.current-score-box-2 {
  align-self: center;
  font-size: 30px;
}

.hold-score-0 {
  align-self: center;
  font-size: 50px;
}

.hold-score-1 {
  align-self: center;
  font-size: 50px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.new-game {
  height: 50px;
  width: 150px;
}

.new-game:hover {
  background-color: green;
}

.roll-dice {
  height: 50px;
  width: 150px;
}

.hold {
  height: 50px;
  width: 150px;
}

.current-score-box-1 {
  position: relative;
}

.current-score-0 {
  position: relative;
  left: 27px;
}

.current-score-1 {
  position: relative;
  left: 27px;
}

h3 {
  position: absolute;
  font-size: 25px;
  left: 200px;
  top: 30px;
  left: 550px;
}
